@model artstesh.data.Models.ArticleModel

@{
    ViewData["Title"] = Model.Title;
}

<div class="article-title">@Model.Title</div>
<p class="article-creation-date">@Model.Created.ToString("d")</p>

@Html.Raw(Model.Text)