<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="yandex-verification" content="d9e7371f51e35e86"/>
    <title>@ViewData["Title"] - artstesh.ru</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
        <link rel="stylesheet" href="~/css/site.css"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"/>
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true"/>
    </environment>
    <!-- Yandex.Metrika counter --> <script type="text/javascript">
                                        (function(m, e, t, r, i, k, a) {
                                            m[i] = m[i] || function() { (m[i].a = m[i].a || []).push(arguments) };
                                            m[i].l = 1 * new Date();
                                            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async =
                                                1, k.src = r, a.parentNode.insertBefore(k, a);
                                        })(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
                                        ym(53464423,
                                            "init",
                                            { clickmap: true, trackLinks: true, accurateTrackBounce: true });
                                    </script>
    <noscript>
        <div>
            <img src="https://mc.yandex.ru/watch/53464423" style="left: -9999px; position: absolute;" alt=""/>
        </div>
    </noscript> <!-- /Yandex.Metrika counter -->
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-area="" asp-controller="Reading" asp-action="Index" class="navbar-brand">
                <div id="logo">
                    <div></div><span><span>#</span>Art</span>
                </div>
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @if (User.Identity.IsAuthenticated)
                {
                    <li>
                        <a asp-area="" asp-controller="Article" asp-action="Index">Article</a>
                    </li>
                }
                <li>
                    <a asp-area="" asp-controller="Sub" asp-action="Sub" title="Подписаться на новости сайта">
                        <span class="glyphicon glyphicon-envelope text-danger"></span>&nbsp;Подписаться
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Feedback" asp-action="Write" title="Обратная связь">
                        <span class="glyphicon glyphicon-send text-success"></span>&nbsp;Написать
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<partial name="_CookieConsentPartial"/>

<div class="container body-content">
    <div class="main-content-div">
        @RenderBody()
    </div>
    <hr/>
    <footer>
        <p>&copy; 2019 - artstesh.ru</p>
    </footer>
</div>

<environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
    </script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>

@RenderSection("Scripts", false)
</body>
</html>