@{
    ViewBag.Title = "Спасибо!";
}
<h1></h1>
<div class="article-body-div">
    <p>
        Спасибо! Теперь Вы не пропустите новые статьи на сайте, а у меня появился стимул работать еще усерднее)
    </p>
</div>